@media print {
      body * {
        visibility: hidden;
      }
      #receipt, #receipt * {
        visibility: visible;
      }
      #receipt {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }
    }